// Colors
$textDark : #222831;
$textWhite : #f5f5f5;
$primary : #363062;
$backGround : #ececec;
$shadowColor : #36306266;
$gradient : linear-gradient(143deg, #363062 0%, #9992d1 50%, #363062 100%);
$danger : #dc3545;
