/* Fonts Declaration */
@font-face {
	font-family : 'Tajawal';
	src         : url('/assets/fonts/Tajawal-Light.ttf');
	font-weight : 300;
	font-style  : normal;
}

@font-face {
	font-family : 'Tajawal';
	src         : url('/assets/fonts/Tajawal-Regular.ttf');
	font-weight : 400;
	font-style  : normal;
}

@font-face {
	font-family : 'Tajawal';
	src         : url('/assets/fonts/Tajawal-Medium.ttf');
	font-weight : 500;
	font-style  : normal;
}

@font-face {
	font-family : 'Tajawal';
	src         : url('/assets/fonts/Tajawal-Bold.ttf');
	font-weight : 700;
	font-style  : normal;
}

/* Colors Variables */
$darkWhite     : #E5E5E5;
$white         : #F9F9F9;
$black         : #222;
$purple        : #800080;
$orange        : #D5573B;
$darkBlue      : #2A628F;
$brightBlue    : #3E92CC;
$red           : #DC3545;

// Border Radius
$fourRoundness : 4px;

/* Overriding Bootstrap Container Size */
@media screen and (min-width : 576px) {
	.container {
		max-width : 96%;
		width     : 96%;
	}

}

i, img, a, input, button {
	display : inline-block;

}

a {
	color : inherit;
}

a, button {
	transition : 0.2s ease-in-out opacity !important;

	&:hover {
		opacity : 0.7;
	}
}

/* Sass Component */
%formControl {
	.form-control {
		background    : $white;
		border        : 3px solid rgba($white, 0);
		border-radius : $fourRoundness;
		box-shadow    : none;
		font-size     : 14px;
		font-weight   : 300;
		height        : 40px;
		padding       : 0 5px;
		transition    : 0.2s ease-in-out border-color;
		width         : 100%;

		&::placeholder {
			color : rgba($black, 0.5);
		}

		&:focus {
			border : 0.2rem solid rgba($black, 0.2);
		}
	}
}

%btn {
	border      : 2px solid $orange;
	color       : $darkBlue;
	display     : block;
	font-size   : 20px;
	font-weight : 700;
	padding     : 6px;
	width       : 100%;
	@media screen and (min-width : 767px) and (max-width : 991px) {
		font-size : 16px;
	}
	@media screen and (max-width : 991px) {
		&:first-of-type {
			margin-bottom : 10px;
		}
	}

	svg {
		fill           : $darkBlue;
		vertical-align : middle;
		width          : 20px;
	}
}

%unit {
	background    : $white;
	border-radius : $fourRoundness;
	box-shadow    : 0 3px 6px rgba($black, 0.2);
	display       : block;
	margin-bottom : 30px;
	padding       : 10px;
	position      : relative;
	text-align    : center;

	.tag {
		background    : $orange;
		border-radius : $fourRoundness 0 0 $fourRoundness;
		box-shadow    : 0 3px 6px rgba($black, 0.16);
		color         : $darkWhite;
		font-size     : 16px;
		font-weight   : 300;
		padding       : 4px 35px;
		position      : absolute;
		right         : 0;
		top           : 5px;
		z-index       : 9;
	}

	.owl-carousel {
		position : relative;

		.item {
			.image-con {
				padding-top : 77%;
				position    : relative;

				img {
					border-radius : $fourRoundness;
					bottom        : 0;
					height        : 100%;
					left          : 0;
					position      : absolute;
					right         : 0;
					top           : 0;
					width         : 100%;
				}
			}
		}

		.owl-dots {
			bottom     : 30px;
			left       : 0;
			margin-top : 0;
			position   : absolute;
			right      : 0;

			.owl-dot {
				outline : none;

				span {
					background-color : rgba($darkBlue, 0.5);
					height           : 10px;
					transition       : 0.4s ease-in-out background-color;
					width            : 10px;
				}

				&.active span {
					background-color : $darkBlue;
				}
			}
		}
	}

	.location {
		background    : #FFF;
		border-radius : $fourRoundness;
		box-shadow    : 0 0 8px rgba($black, 0.2);
		display       : block;
		margin        : 0 auto;
		max-height    : 63px;
		max-width     : 80%;
		overflow      : hidden;
		padding       : 7px;
		position      : relative;
		top           : 0;
		transform     : translateY(-50%);
		z-index       : 9;

		svg {
			fill              : $orange;
			margin-inline-end : 5px;
			vertical-align    : middle;
			width             : 24px;
		}
	}

	.unit-name {
		font-size     : 16px;
		font-weight   : 500;
        margin-bottom : 10px;
        height        : 40px;
	}

	.unit-data {
		background-color : $white;
		border-radius    : 4px;
		text-align       : start;
		transition       : 0.4s ease-in-out background-color;

		p {
			font-size     : 18px;
			font-weight   : 500;
			margin-bottom : 5px;

			span {
				color     : $orange;
				font-size : 16px;
			}
		}
	}

	.btns-con {
		margin-top : 15px;

		.btn {
			@extend %btn;

			svg {
				transform : rotateY(180deg);
			}
		}
	}

	/*	&:hover {
			.unit-data {
				background-color : $darkWhite;
			}

			.link-con {
				height : 48px;
			}
		}*/

	/*.link-con {
		bottom     : calc(48px + 35px);
		height     : 0;
		left       : 0;
		overflow   : hidden;
		position   : absolute;
		right      : 0;
		top        : auto;
		transition : 0.2s ease-in-out bottom,
		0.2s ease-in-out height;
		@media screen and (max-width : 991px) {
			bottom : 140px;
		}

		a.visit {
			background      : $white;
			border          : 2px solid $orange;
			border-radius   : $fourRoundness;
			color           : $darkBlue;
			cursor          : pointer;
			display         : inline-block;
			font-size       : 20px;
			font-weight     : 700;
			padding         : 6px 12px;
			text-decoration : none;

			&:hover {
				opacity : 1;

				svg {
					transform : scale(1.2);
				}
			}

			svg {
				fill       : $darkBlue;
				transition : 0.2s ease-in-out transform;
			}
		}
	}*/
}

%form-group-style {
	.form-group, .input-group {
		margin-bottom : 15px;

		&.password {
			height   : 38px;
			position : relative;

			.form-control {
				bottom   : 0;
				left     : 0;
				position : absolute;
				right    : 0;
				top      : 0;
			}

			.input-group-append {
				bottom      : 0;
				left        : 0;
				margin-left : 0;
				position    : absolute;
				right       : auto;
				top         : 0;

				span {
					background : none;
					border     : none;

					i {
						color     : rgba($purple, 0.75);
						font-size : 24px;
						opacity   : 0.75;
					}
				}
			}
		}

		.form-control {
			background    : rgba(34, 40, 49, 0.1);
			border        : none;
			border-radius : 4px;
			color         : $black;
			padding       : 8px 15px;

			&:focus {
				box-shadow : 0 0 8px rgba($black, 0.16);
			}

			&::placeholder {
				color : rgba(34, 40, 49, 0.5);
			}

			&[title='gender'], &[title='country'], &[title='city'], &[title='district'] {
				color   : $black;
				padding : 0 15px;
			}
		}
	}
}

%article {
	background    : $white;
	border-radius : $fourRoundness;
	box-shadow    : 0 0 8px rgba($black, 0.2);
	margin-bottom : 30px;
	overflow      : hidden;
	position      : relative;
	text-align    : right;

	span.date {
		background    : rgba($orange, 0.5);
		border-radius : $fourRoundness 0 $fourRoundness 0;
		bottom        : auto;
		color         : $white;
		font-size     : 18px;
		left          : 0;
		padding       : 8px 16px;
		position      : absolute;
		right         : auto;
		top           : 0;
		z-index       : 2;
	}

	.article-img {
		box-shadow  : 0 4px 8px rgba($black, 0.2);
		padding-top : 59%;
		position    : relative;

		img {
			border-radius : $fourRoundness $fourRoundness 0 0;
			bottom        : 0;
			height        : 100%;
			left          : 0;
			position      : absolute;
			right         : 0;
			top           : 0;
			width         : 100%;
		}
	}

	.article-data {
		padding : 20px;

		h5 {
			font-size     : 22px;
			font-weight   : 700;
			margin-bottom : 15px;
			text-align    : start;
			@media screen and (max-width : 767px) {
				font-size : 18px;
			}
		}

		p {
			font-size     : 16px;
			margin-bottom : 15px;
		}

		a.btn {
			border              : none;
			border-bottom       : 3px solid $orange;
			border-radius       : 0;
			box-shadow          : none;
			color               : $orange;
			display             : block;
			font-size           : 20px;
			inline-size         : fit-content;
			margin-inline-start : auto;
			padding             : 5px 10px;
			text-align          : center;
		}
	}
}

/* Body Styling */
body {
	background  : $darkWhite;
	color       : $black;
	font-family : 'Tajawal', monospace;
	font-size   : 16px;
	font-weight : 400;
	//min-height  : 100vh;
}

/* Styling Navbar */
.navbar {
	background : $purple;
	bottom     : auto;
	height     : 93px;
	left       : 0;
	padding    : 25px 0;
	position   : fixed;
	right      : 0;
	top        : 0;
	z-index    : 999;
	@media screen and (max-width : 575px) {
		padding : 15px;
	}
	@media screen and (max-width : 991px) {
		height     : auto;
		text-align : start;
	}

	.navbar-brand {
		margin : 0;

		svg {
			fill  : $darkWhite;
			width : 120px;
		}
	}

	.navbar-toggler svg {
		fill : $white;
	}

	.navbar-collapse {
		.navbar-nav {
			padding-right : 0;

			.nav-item {
				align-self : center;
				@media screen and (max-width : 991px) {
					place-self : flex-start;
				}

				&:not(:last-of-type) {
					margin-inline-end : 5px;
					@media screen and (max-width : 991px) {
						margin-bottom     : 8px;
						margin-inline-end : 0;
					}
				}

				.nav-link {
					color       : $darkWhite;
					font-size   : 18px;
					font-weight : 500;
					padding     : 5px;

					&.btn {
						border : 3px solid rgba($darkWhite, 0.2);

						svg {
							fill : $darkWhite;
						}
					}
				}

				&.dropdown {
					margin-inline-end : 10px;

					.dropdown-menu {
						background : $white;
						border     : none;
						box-shadow : 0 0 6px rgba($black, 0.16);
						text-align : center;
					}
				}
			}
		}
	}
}

.content-wrapper {
	margin-top : 93px;
	min-height : calc(100vh - 93px);
	position   : relative;
	@media screen and (max-width : 575px) {
		margin-top : 73px;
		min-height : calc(100vh - 73px);
	}
	/* Sections Styling */
	main {
		padding-bottom : 77px;
		@media screen and (max-width : 767px) {
			padding-bottom : 114px;
		}

		.banner {
			background : url('/assets/images/banner.png') center/cover no-repeat $purple;
			bottom     : auto;
			height     : 700px;


			> .container {
				@media screen and (max-width : 575px) {
					//padding : 0;
				}
			}

			.search-con {
				background    : $darkWhite;
				border-radius : $fourRoundness;
				box-shadow    : 0 0 15px rgba($darkWhite, 0.5);
				padding       : 30px;
				@media screen and (max-width : 575px) {
					border-radius : 0;
					padding       : 15px;
				}

				h2 {
					color         : $orange;
					font-size     : 34px;
					font-weight   : 700;
					margin-bottom : 30px;
					text-align    : center;
					@media screen and (max-width : 575px) {
						font-size : 26px;
					}
				}

				form {
					.row {
						@media screen and (min-width : 768px) {
							margin : 0;
						}
						@media screen and (max-width : 767px) {
							margin : 0 -7.5px;
						}

						div[class*='col'] {
							@media screen and (min-width : 768px) {
								padding-right : 0;
							}
							@media screen and (max-width : 767px) {
								padding : 0 7.5px;
							}

							.row {
								div[class*='col']:last-child {
									@media screen and (min-width : 768px) {
										padding-left : 0;
									}
								}
							}
						}
					}

					.form-group {
						margin-bottom : 15px;
						@extend %formControl;
					}

					button {
						background  : $orange;
						color       : $darkWhite;
						display     : block;
						font-size   : 22px;
						font-weight : 700;
						height      : 40px;
						padding     : 0;
						width       : 100%;

						svg {
							fill           : $darkWhite;
							vertical-align : middle;
							width          : 24px;
						}
					}
				}
			}
		}

		&.homepage {
			.units-sec {
				padding-top : 60px;
				text-align  : center;

				h1 {
					color       : $purple;
					display     : inline-block;
					font-size   : 32px;
					font-weight : 700;
					margin      : 0 auto 30px auto;
					position    : relative;
					text-align  : center;
					width       : auto;
					@media screen and (max-width : 767px) {
						font-size : 26px;
						max-width : 80%;
					}

					&:before, &:after {
						background : $orange;
						content    : '';
						height     : 3px;
						position   : absolute;
						top        : 50%;
						transform  : translateY(-50%);
						width      : 32px;
					}

					&:before {
						left : calc(-32px - 10px);
					}

					&:after {
						right : calc(-32px - 10px);
					}
				}

				.unit {
					@extend %unit;
				}
			}

			.articles-sec {
				margin-top     : 30px;
				padding-bottom : 60px;

				h2 {
					color         : $purple;
					font-size     : 32px;
					font-weight   : 700;
					margin-bottom : 30px;
					text-align    : center;
					@media screen and (max-width : 767px) {
						font-size : 26px;
					}
				}

				.article {
					@extend %article;
				}

				.see-more {
					background  : $orange;
					border      : none;
					box-shadow  : none;
					color       : $white;
					display     : block;
					font-size   : 22px;
					font-weight : 700;
					inline-size : fit-content;
					margin      : 40px auto 0 auto;
					padding     : 12px 40px;
				}
			}
		}

		&.search-results-page {
			.units-sec {
				margin : 60px 0;

				h2 {
					border        : 3px solid;
					border-color  : $orange $orange $darkBlue $darkBlue;
					border-radius : $fourRoundness;
					color         : $purple;
					display       : inline-block;
					font-size     : 32px;
					font-weight   : 700;
					//margin-bottom : 30px;
					padding       : 6px 12px;
					@media screen and (min-width : 575px) {
						font-size : 26px;
					}
				}

				.dropdown {
					button {
						background  : $white;
						border      : none;
						color       : $black;
						font-size   : 16px;
						font-weight : 500;
						padding     : 6px 12px;
					}

					.dropdown-menu {
						border     : none;
						right      : 0;
						text-align : start;
						z-index    : 99;
					}
				}

				.units-con {
					.unit {
						@extend %unit;
						margin : 30px 0 0 0;
					}

					.pagination {
						box-shadow    : 0 3px 6px rgba($black, 0.16);
						display       : inline-flex;
						margin-bottom : 0;
						margin-top    : 40px;

						.page-item {
							&.active {
								.page-link {
									color : $orange;
								}
							}

							&.disabled {
								.page-link {
									svg {
										fill : rgba($black, 0.2);
									}
								}
							}

							&:first-of-type, &:last-of-type {
								.page-link {
									line-height : 45px;

									svg {
										height : 38px;
										width  : 38px;
									}
								}
							}

							&:last-of-type {
								svg {
									fill : $orange;
								}
							}

							.page-link {
								background-color : $white;
								border           : none;
								color            : rgba($black, 0.2);
								font-size        : 24px;
								font-weight      : 700;
								height           : 50px;
								line-height      : 50px;
								padding          : 0;
								width            : 50px;
							}
						}
					}
				}
			}
		}

		&.unit-page {
			padding-top : 80px;

			.unit-gallery {
				margin-bottom : 30px;

				.big-image-con {
					margin-bottom : 30px;
					padding-top   : 48%;
					position      : relative;

					img {
						border-radius : $fourRoundness;
						bottom        : 0;
						height        : 100%;
						left          : 0;
						position      : absolute;
						right         : 0;
						top           : 0;
						width         : 100%;
					}
				}

				.unit-images-gallery {
					.owl-carousel {
						position : relative;

						.item {
							.image-con {
								padding-top : 56%;
								position    : relative;

								img {
									border-radius : $fourRoundness;
									bottom        : 0;
									height        : 100%;
									left          : 0;
									position      : absolute;
									right         : 0;
									top           : 0;
									width         : 100%;
								}
							}
						}

						.owl-nav {
							.owl-prev, .owl-next {
								background    : $white;
								border-radius : 50%;
								bottom        : auto;
								height        : 24px;
								outline       : none;
								position      : absolute;
								top           : 50%;
								transform     : translateY(-70%);
								width         : 24px;

								svg {
									fill   : $orange;
									height : 24px;
									width  : 24px;
								}

								&.owl-next {
									left : 0;
								}

								&.owl-prev {
									right : 0;
								}
							}
						}
					}
				}
			}

			.brief-data {
				h6 {
					color         : rgba($black, 0.5);
					font-size     : 16px;
					font-weight   : 400;
					margin-bottom : 10px;
				}

				h1 {
					font-size     : 24px;
					font-weight   : 700;
					margin-bottom : 25px;
				}

				.unit-details {
					background    : $white;
					border-radius : $fourRoundness;
					padding       : 25px 30px 10px 30px;

					h5 {
						color       : $orange;
						font-size   : 20px;
						font-weight : 700;
						margin      : 10px 0 25px 0;
					}

					p {
						font-size     : 20px;
						margin-bottom : 15px;

						svg {
							margin-inline-end : 5px;
							width             : 24px;
						}

						span {
							color               : $orange;
							font-weight         : 500;
							margin-inline-start : 5px;
						}
					}
				}
			}

			.contact-info {
				background    : $white;
				border-radius : $fourRoundness;
				padding       : 15px;

				p.price {
					font-size     : 1.375rem;
					font-weight   : 700;
					margin-bottom : 15px;

					span {
						color : $orange;
					}
				}

				.btns-con {
					.btn {
						@extend %btn;
					}
				}

				.map {
					background    : $purple url('/assets/images/map.png') center/cover no-repeat;
					border-radius : $fourRoundness;
					height        : 100px;
					margin-top    : 15px;
					position      : relative;
					transition    : 0.4s ease-in-out opacity;

					&:hover {
						opacity : 0.7;
					}

					.card-img-overlay {
						align-content   : center;
						align-items     : stretch;
						background      : rgba($black, 0.75);
						display         : flex;
						flex-flow       : row nowrap;
						flex-wrap       : nowrap;
						justify-content : center;
						padding         : 0;

						button {
							color           : $white;
							flex            : 1;
							flex-basis      : 100%;
							font-size       : 24px;
							font-weight     : 700;
							text-align      : center;
                            text-decoration : none;
                            background      : transparent;

							span {
								display   : block;
								// transform : translateY(80%);

								svg {
									fill      : $white;
									transform : rotateY(180deg);
								}
							}
						}
					}
				}
			}

			h5 {
				color         : $black;
				font-size     : 20px;
				font-weight   : 700;
				margin-bottom : 15px;
			}

			.description {
				margin-top : 25px;


				p {
					font-size     : 16px;
					margin-bottom : 25px;
				}

				ul {
					list-style-image    : url('/assets/images/list.png');
					list-style-position : inside;
					margin              : 0;
					padding             : 0;

					li {
						font-size     : 18px;
						margin-bottom : 10px;

						&:last-of-type {
							margin-bottom : 0;
						}
					}
				}
			}

			.share-it {
				margin-top : 25px;

				h5 {
					margin-bottom : 20px;
				}

				.btn {
					@extend %btn;
					border-color : $black;
					color        : $black;
					font-size    : 18px;
					font-weight  : 500;
					padding      : 8px 22px;

					svg {
						height            : 24px;
						margin-inline-end : 10px;
						vertical-align    : text-top;
						width             : 24px;
					}
				}
			}

			.similar-units {
				margin-top : 40px;

				h2 {
					color         : $orange;
					font-size     : 24px;
					font-weight   : 700;
					margin-bottom : 25px;
					text-align    : center;
				}

				.unit {
					@extend %unit;
				}
			}
		}

		&.register-page {
			padding-top : 80px;

			h1 {
				color         : $darkBlue;
				font-size     : 32px;
				margin-bottom : 40px;
				text-align    : center;
			}

			.register-box {
				background    : $white;
				border-radius : 16px;
				box-shadow    : -10px 10px 16px rgba($black, 0.16);
				margin-bottom : 40px;
				padding       : 40px;
				@media screen and (max-width : 767px) {
					background : none;
					box-shadow : none;
				}
				@media screen and (max-width : 575px) {
					padding : 0;
				}

				h2 {
					color         : $orange;
					font-size     : 20px;
					margin-bottom : 25px;
					text-align    : center;
				}

				form {
					@extend %form-group-style;

					.btn {
						background  : $darkBlue;
						box-shadow  : none;
						color       : $white;
						display     : block;
						font-size   : 18px;
						font-weight : 700;
						padding     : 6px 0;
						text-align  : center;
						width       : 100%;
					}
				}

				.social-login {
					.btn {
						background    : $darkWhite $white;
						border-radius : 4px;
						box-shadow    : 0 0 6px rgba($black, 0.16);
						color         : $black;
						display       : block;
						font-size     : 18px;
						font-weight   : 700;
						text-align    : center;
						width         : 100%;

						i, svg {
							color               : inherit;
							font-size           : 24px;
							margin-inline-start : 20px;
							vertical-align      : middle;

							&.fa-facebook-square {
								color : #3B5998;
							}
						}

						&.google {
							margin-bottom : 25px;
						}
					}
				}

				.login-now {
					color      : $black;
					margin-top : 25px;
					text-align : center;

					a {
						display : block;
						margin  : auto;
						width   : fit-content;

						&:first-of-type {
							margin-bottom : 25px
						}
					}
				}
			}
		}

		&.terms {
			padding-top : 80px;

			svg {
				width : 100%;
			}

			h1 {
				color         : $purple;
				font-size     : 34px;
				margin-bottom : 25px;
				@media screen and (max-width : 767px) {
					font-size : 24px;
				}
			}
		}

		&.profile {
			padding-bottom : 295px;
			padding-top    : 80px;
			@media screen and (max-width : 767px) {
				padding-bottom : calc(432px + 80px);
			}

			.user-data {
				background    : $white;
				border-radius : $fourRoundness;
				padding       : 15px;
				@media screen and (max-width : 767px) {
					margin-bottom : 30px;
				}

				.img-con {
					max-width : 90px;

					img {
						border-radius : $fourRoundness;
					}
				}

				p {
					font-size     : 20px;
					font-weight   : 700;
					margin-bottom : 0;
				}
			}

			.edit-con .accordion {
				.card {
					background    : $white;
					border        : none;
					border-radius : $fourRoundness;

					&:not(:last-of-type) {
						margin-bottom : 30px;
					}

					.card-header {
						background : $white;
						border     : none;
						padding    : 20px;

						h2 {
							button {
								border      : none;
								box-shadow  : none;
								color       : $black;
								display     : block;
								font-size   : 20px;
								font-weight : 700;
								outline     : none;
								padding     : 0;
								text-align  : start;
								width       : 100%;

								svg {
									transition : 0.4s ease-in-out transform;
								}

								&[aria-expanded='true'] {
									svg {
										transform : rotateX(180deg);
									}
								}
							}
						}
					}

					.card-body {
						background : $white;
						border-top : 1px solid rgba($black, 0.2);

						.form-group {
							label {
								margin-bottom : 5px;
							}

							@extend %formControl;

							.form-control {
								background : $darkWhite;
								font-size  : 16px;
							}

							.form-check {
								input, label {
									margin         : 0;
									padding        : 0;
									position       : static;
									vertical-align : middle;
								}

								input[type='checkbox'] {
									height            : 18px;
									margin-inline-end : 8px;
									width             : 18px;
								}
							}
						}

						button {
							background  : $brightBlue;
							border      : none;
							color       : $white;
							font-size   : 20px;
							font-weight : 700;
							margin-top  : 9px;
							padding     : 8px 60px;
						}
					}
				}
			}
		}

		&.ads {
			padding-bottom : 295px;
			padding-top    : 80px;
			@media screen and (max-width : 767px) {
				padding-bottom : calc(432px + 80px);
			}

			h1 {
				color         : $brightBlue;
				font-size     : 24px;
				font-weight   : 700;
				margin-bottom : 25px;
				text-align    : center;
			}

			.ad-con {
				background    : $white;
				border-radius : $fourRoundness;

				img {
					border-radius : 0 $fourRoundness $fourRoundness 0;
					height        : 100%;
					width         : 100%;
					@media screen and (max-width : 575px) {
						border-radius : $fourRoundness $fourRoundness 0 0;
					}
				}

				.ad-data {
					padding : 30px 0;
					@media screen and (max-width : 575px) {
						padding : 15px;
					}

					h2.unit-name {
						font-size     : 24px;
						margin-bottom : 5px;
					}

					p {
						margin-bottom : 15px;

						&.location {
							color : rgba($black, 0.5);

							svg {
								fill : $orange;
							}
						}

						&.price {
							color       : rgba($black, 0.5);
							font-weight : 700;
						}
					}

					.form-check {
						margin-bottom : 15px;

						label, input {
							color          : $darkBlue;
							font-weight    : 700;
							margin         : 0;
							padding        : 0;
							position       : static;
							vertical-align : middle;
						}

						input[type='checkbox'] {
							height            : 18px;
							margin-inline-end : 8px;
							width             : 18px;
						}
					}

					.btns-con {
						text-align : center;

						.btn {
							font-weight : 700;

							&:first-of-type {
								margin-inline-end : 15px;
							}

							svg {
								margin-inline-end : 5px;
								vertical-align    : middle;
							}
						}
					}
				}
			}
		}

		&.add-unit {
			padding-bottom : 295px;
			padding-top    : 80px;
			@media screen and (max-width : 767px) {
				padding-bottom : calc(432px + 80px);
			}

			h1 {
				color         : $brightBlue;
				font-size     : 24px;
				font-weight   : 700;
				margin-bottom : 25px;
				text-align    : center;
			}

			form.add-form-con {
				background    : $white;
				border-radius : $fourRoundness;
				padding       : 30px;
				@media screen and (max-width : 767px) {
					padding : 15px;
				}

				.form-group {
					@extend %formControl;

					.form-control {
						background : $darkWhite;
						font-size  : 16px;
					}

					textarea.form-control {
						height : 300px !important;
						resize : none;
					}
				}

				.button {
					background  : $brightBlue;
					border      : none;
					color       : $white;
					font-size   : 20px;
					font-weight : 700;
					margin-top  : 10px;
					padding     : 8px 60px;
				}
			}
		}

		&.articles {
			padding-top : 80px;

			h1 {
				color         : $purple;
				font-size     : 32px;
				font-weight   : 700;
				margin-bottom : 30px;
				text-align    : center;
				@media screen and (max-width : 767px) {
					font-size : 26px;
				}
			}

			.article {
				@extend %article;
			}

			.pagination {
				box-shadow    : 0 3px 6px rgba($black, 0.16);
				display       : inline-flex;
				margin-bottom : 0;
				margin-top    : 40px;

				.page-item {
					&.active {
						.page-link {
							color : $orange;
						}
					}

					&.disabled {
						.page-link {
							svg {
								fill : rgba($black, 0.2);
							}
						}
					}

					&:first-of-type, &:last-of-type {
						.page-link {
							line-height : 45px;

							svg {
								height : 38px;
								width  : 38px;
							}
						}
					}

					&:last-of-type {
						svg {
							fill : $orange;
						}
					}

					.page-link {
						background-color : $white;
						border           : none;
						color            : rgba($black, 0.2);
						font-size        : 24px;
						font-weight      : 700;
						height           : 50px;
						line-height      : 50px;
						padding          : 0;
						width            : 50px;
					}
				}
			}
		}

		&.article-page {
			padding-top : 80px;

			h1 {
				color         : $purple;
				font-size     : 32px;
				font-weight   : 700;
				margin-bottom : 30px;
				text-align    : center;
				@media screen and (max-width : 767px) {
					font-size : 26px;
				}
			}

			.article-viewed {
				.article-img {
					margin-bottom : 25px;
					padding-top   : 56%;
					position      : relative;

					.img-fluid {
						border-radius : $fourRoundness;
						bottom        : 0;
						height        : 100%;
						left          : 0;
						position      : absolute;
						right         : 0;
						top           : 0;
						width         : 100%;
					}
				}

				p {
					font-size     : 18px;
					margin-bottom : 25px;

					&.post-date {
						color       : $purple;
						font-weight : 500;
					}

					&.article-data {
						text-align : justify;
					}
				}
			}

			.similar-articles {
				margin-top : 40px;

				h2 {
					color         : $purple;
					font-size     : 28px;
					font-weight   : 700;
					margin-bottom : 30px;
					text-align    : center;
					@media screen and (max-width : 767px) {
						font-size : 22px;
					}
				}

				.article {
					@extend %article;
				}
			}
		}
	}

	/* Footer Styling */
	footer {
		background : $white;
		padding    : 20px 0;
		text-align : center;

		.navbar-nav {
			flex-direction  : row;
			flex-wrap       : wrap;
			justify-content : space-between;
			margin          : 0;
			padding         : 0;

			.nav-item {
				align-content : space-between;

				.nav-link {
					font-size   : 18px;
					font-weight : 500;
					padding     : 5px 10px;
				}

				&.socials {
					.nav-link {
						display : inline-block;

						&:not(:last-of-type) {
							margin-inline-end : 10px;
						}
					}
				}
			}
		}

		//	background : $white url('/assets/images/footer-illustration.svg') no-repeat left center/407px;
		//	bottom     : 0;
		//	left       : 0;
		//	padding    : 10px 0;
		//	position   : absolute;
		//	right      : 0;
		//	text-align : right;
		//	top        : auto;
		//
		//	.logo {
		//		margin-bottom : 10px;
		//
		//		svg {
		//			fill  : $purple;
		//			width : 128px;
		//		}
		//	}
		//
		//	h5 {
		//		font-size     : 20px;
		//		font-weight   : 700;
		//		margin-bottom : 10px;
		//	}
		//
		//	nav {
		//		&.social {
		//			ul li {
		//				text-align : center;
		//
		//				&:not(:last-of-type) {
		//					margin-bottom : 8px;
		//				}
		//
		//				a {
		//					padding : 5px
		//				}
		//			}
		//		}
		//
		//		ul {
		//			list-style : none inside;
		//			margin     : 0;
		//			padding    : 0;
		//
		//			li {
		//				&:not(:last-of-type) {
		//					margin-bottom : 5px;
		//				}
		//
		//				a {
		//					color : $darkBlue;
		//				}
		//			}
		//		}
		//	}
		//}
	}
}
