.invalid-feedback {
    text-align: left;
}

body[dir='rtl'] .invalid-feedback {
    text-align: right;
}


.logout-btn {
    background: transparent;
}

body .side-menu .side-menu-con .sections .section-con button {
    border: 0;
}

body .side-menu .side-menu-con .sections .section-con button i {
    color: #363062 !important;
    font-size: 40px;
    height: 40px;
    -webkit-margin-end: 10px;
    margin-inline-end: 10px;
    vertical-align: middle;
    width: 40px;
}

.btn-create-question {
    padding: .4rem .7rem !important;
    font-size: 1rem !important;
    line-height: 1.5 !important;
    border-radius: .25rem !important;
    transition: color .15s ease-in-out,
        background-color .15s ease-in-out,
        border-color .15s ease-in-out,
        box-shadow .15s ease-in-out;
    display: inline-block !important;
    font-weight: 400 !important;
}

body[dir='ltr'] .btn-create-question {
    float: left;
}

.post_attachfile .dropzone {
    border: none;
    border-radius: 8px;
    bottom: 0;
    box-shadow: 0 7px 10px #36306266;
}


.post_attachfile .vue-dropzone>.dz-preview .dz-remove {
    margin-right: 15px;
    padding: 5px;
    width: 80%;
}

.dropzone .dz-preview.dz-error:hover .dz-error-message span {
    color: #fff;
}

.post-imglist .image-link img {
    height: 100px;
    width: 100% !important;
}

.post-videolist img {
    height: 100px !important;
    width: 180px !important;
}

.post-filelist img {
    height: 30px !important;
    width: 50px !important;
}


.fancybox-button svg path,
.fancybox-caption__body {
    color: #FFF;
}


.like-btn {
    background-color: #363062;
}

.post-interaction button:focus {
    box-shadow: none;
}

.like-btn * {
    color: #FFF !important;
}

.comment-date {
    font-size: .7rem;
}


.select2-container {
    height: 45px;
    width: 100% !important;
}

.select2-container .selection {
    width: 100% !important;
}

.select2-container .select2-selection {
    height: 45px;
    width: 100% !important;
    border: 1px solid rgb(215, 216, 217);
    border-radius: 4px;
    background-color: #d7d8d9;
}

.select2-container .select2-selection .select2-selection__rendered {
    line-height: 45px;
}

body[dir='ltr'] .select2-container .select2-selection .select2-selection__rendered {
    float: left;
}

.select2-container .select2-selection .select2-selection__arrow {
    top: 10px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #413b6e;

}


.field-set {
    border: 1px solid #3d376a !important;
    padding: 10px;
}

.field-set legend {
    width: auto;
    padding-right: 10px;
    padding-left: 10px;
}

/* Framework */

.btn-rbzgo,
.btn-rbzgo:hover {
    color: #fff;
    background-color: #403a6e;
    border-color: #403a6e;
}

.color-rbzgo {
    color: #403a6e;
}

.bg-rbzgo {
    background-color: #3d376a !important;
}

.bg-rbzgo * {
    color: #FFF;
}

.border-rbzgo {
    border-color: #3d376a !important;
}

.img-avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}


@media(max-width: 768px) {
    .post-imglist .image-link img {
        height: 100px;
        width: 100px !important;
    }

    body .add-story-modal.join-group-modal .modal-dialog,
    body .join-group-modal.join-group-modal .modal-dialog {
        max-width: 90%;
    }
}
