.invalid-feedback {
    text-align: left;
}

body[dir='rtl'] .invalid-feedback {
    text-align: right;
}


.logout-btn {
    background: transparent;
}

body .side-menu .side-menu-con .sections .section-con button {
    border: 0;
}
body .side-menu .side-menu-con .sections .section-con button i {
    color: #363062 !important;
    font-size: 40px;
    height: 40px;
    -webkit-margin-end: 10px;
    margin-inline-end: 10px;
    vertical-align: middle;
    width: 40px;
}

.btn-create-question {
    padding: .1rem .45rem !important;
    font-size: 1rem !important;
    line-height: 1.5 !important;
    border-radius: .25rem !important;
    transition: color .15s ease-in-out,
    background-color .15s ease-in-out,
    border-color .15s ease-in-out,
    box-shadow .15s ease-in-out;
    display: inline-block !important;
    font-weight: 400 !important;
}

.post_attachfile .dropzone {
    border: none;
    border-radius: 8px;
    bottom: 0;
    box-shadow: 0 7px 10px #36306266;
}


.post_attachfile .vue-dropzone>.dz-preview .dz-remove {
    margin-right: 15px;
    padding: 5px;
    width: 80%;
}

.dropzone .dz-preview.dz-error:hover .dz-error-message span {
    color: #fff;
}

.post-imglist .image-link img {
    height: 100px;
    width: 100% !important;
}

.post-videolist img {
    height: 100px !important;
    width: 180px !important;
}

.post-filelist img {
    height: 30px !important;
    width: 50px !important;
}


.fancybox-button svg path,
.fancybox-caption__body {
    color: #FFF;
}


.like-btn {
    background-color: #363062;
}
.post-interaction button:focus {
    box-shadow: none;
}

.like-btn * {
    color: #FFF !important;
}

.comment-date {
    font-size: .7rem;
}


@media(max-width: 768px) {
    .post-imglist .image-link img {
        height: 100px;
        width: 100px !important;
    }
}
