.invalid-feedback {
    text-align: left;
}

body[dir='rtl'] .invalid-feedback {
    text-align: right;
}


.logout-btn {
    background: transparent;
}

.btn-create-question {
    padding: .1rem .45rem !important;
    font-size: 1rem !important;
    line-height: 1.5 !important;
    border-radius: .25rem !important;
    transition: color .15s ease-in-out,
    background-color .15s ease-in-out,
    border-color .15s ease-in-out,
    box-shadow .15s ease-in-out;
    display: inline-block !important;
    font-weight: 400 !important;
}
