.invalid-feedback {
    text-align: left;
}

body[dir='rtl'] .invalid-feedback {
    text-align: right;
}

.logout-btn {
    background: transparent;
    border: none;
}


.ck-content {
    height: 150px;
}


.select2-container {
    height: 40px;
}

.select2-container .select2-selection {
    height: auto;
    border: 0;
    border-radius: 4px;
    background-color: #e5e5e5;
}

.select2_search .select2-container .select2-selection {
    background-color: #fff;
}

.select2-container .select2-selection .select2-selection__rendered .select2-selection__choice  {
    background-color: #FFF;
}

.select2_search .select2-container .select2-selection .select2-selection__rendered .select2-selection__choice {
    background-color: #e5e5e5;
}

.select2-container .select2-selection .select2-selection__arrow {
    top: 3px;
}

.dropzone {
    background-color: #e5e5e5;
}

.dropzone .fa-cloud-upload-alt {
    color: #5f9ea0;
}

/*  Map */
.map-container {
    position: relative;
    height: 500px;
}

.map-container #map {
    height: 450px;
}

.map-container #pac-input {
    background-color: #fff;
    font-size: 15px;
    font-weight: 300;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    border-radius: 0;
    margin-bottom: 5px;
    height: 50px;
}

.map-container #pac-input:focus {
    border-color: #4d90fe;
}

@media(max-width: 768px) {
    .map-container {
        height: 350px;
    }

    .map-container #map {
        height: 300px;
    }

    .map-container #pac-input {
        height: 40px;
    }
}

.reset-search-form {
    color: #d5573b;
    text-decoration: underline;
    cursor: pointer;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
    opacity: 1;
}

/* Framework */

.btn-theme,
.btn-theme:hover {
    color: #fff;
    background-color: #800080;
    border-color: #800080;
}

.color-theme {
    color: #800080;
}

.bg-theme {
    background-color: #3d376a !important;
}

.bg-theme * {
    color: #FFF;
}

.border-theme {
    border-color: #3d376a !important;
}

.no-btn {
    background-color: transparent;
    border: 0;
}

.no-btn:focus {
    outline: none;
}

.img-avatar {
    border-radius: 50% !important;
    width: 50px !important;
    height: 50px !important;
}


@media(max-width: 768px) {
    .post-imglist .image-link img {
        height: 100px;
        width: 100px !important;
    }

    body .add-story-modal.join-group-modal .modal-dialog,
    body .join-group-modal.join-group-modal .modal-dialog {
        max-width: 90%;
    }
}
