.invalid-feedback {
    text-align: left;
}

body[dir='rtl'] .invalid-feedback {
    text-align: right;
}

.ck-content {
    height: 150px;
}



/* Framework */

.btn-rbzgo,
.btn-rbzgo:hover {
    color: #fff;
    background-color: #403a6e;
    border-color: #403a6e;
}

.color-rbzgo {
    color: #403a6e;
}

.bg-rbzgo {
    background-color: #3d376a !important;
}

.bg-rbzgo * {
    color: #FFF;
}

.border-rbzgo {
    border-color: #3d376a !important;
}

.no-btn {
    background-color: transparent;
    border: 0;
}

.no-btn:focus {
    outline: none;
}

.img-avatar {
    border-radius: 50% !important;
    width: 50px !important;
    height: 50px !important;
}


@media(max-width: 768px) {
    .post-imglist .image-link img {
        height: 100px;
        width: 100px !important;
    }

    body .add-story-modal.join-group-modal .modal-dialog,
    body .join-group-modal.join-group-modal .modal-dialog {
        max-width: 90%;
    }
}
