.invalid-feedback {
    text-align: left;
}

body[dir='rtl'] .invalid-feedback {
    text-align: right;
}

.logout-btn {
    background: transparent;
    border: none;
}


.ck-content {
    height: 150px;
}


.select2-container {
    height: 40px;
}

.select2-container .select2-selection {
    height: 40px;
    border: 0;
    border-radius: 4px;
    background-color: #e5e5e5;
}

.select2_search .select2-container .select2-selection {
    background-color: #fff;
}

.select2-container .select2-selection .select2-selection__rendered .select2-selection__choice  {
    background-color: #FFF;
}

.select2_search .select2-container .select2-selection .select2-selection__rendered .select2-selection__choice {
    background-color: #e5e5e5;
}

.select2-container .select2-selection .select2-selection__arrow {
    top: 3px;
}

.dropzone {
    background-color: #e5e5e5;
}

.dropzone .fa-cloud-upload-alt {
    color: #5f9ea0;
}



/* Framework */

.btn-rbzgo,
.btn-rbzgo:hover {
    color: #fff;
    background-color: #403a6e;
    border-color: #403a6e;
}

.color-rbzgo {
    color: #403a6e;
}

.bg-rbzgo {
    background-color: #3d376a !important;
}

.bg-rbzgo * {
    color: #FFF;
}

.border-rbzgo {
    border-color: #3d376a !important;
}

.no-btn {
    background-color: transparent;
    border: 0;
}

.no-btn:focus {
    outline: none;
}

.img-avatar {
    border-radius: 50% !important;
    width: 50px !important;
    height: 50px !important;
}


@media(max-width: 768px) {
    .post-imglist .image-link img {
        height: 100px;
        width: 100px !important;
    }

    body .add-story-modal.join-group-modal .modal-dialog,
    body .join-group-modal.join-group-modal .modal-dialog {
        max-width: 90%;
    }
}
